<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/prods-css.css">
</head>
<body>
    {% if user.is_staff %}
    <div>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4" style="color:#ffffff">Trend HR</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link">Pedidos</a></li>
          <li class="nav-item"><a href="/produtos" class="nav-link active">Produtos</a></li>
          {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="accounts/login/" class="nav-link">Login</a></li>
          {% endif %}  
        </ul>
      </header>
    </div>


    <div class="row">
            
        {% for item in itens %}
        <div>
            <div class="produtos">
                <div class="produto">
                    
                    <div class="div-item">
                        <p class="title-item">Produto</p>
                        <p class="value-item produto-item">{{item.ID_PRODUTO}}</p>
                    </div>
                    
                    <div class="div-item">
                        <p class="title-item">Valor</p>
                        <p class="value-item valor-item">{{item.ID_PRODUTO.VALOR}}</p>
                    </div>
                    
                    <div class="div-item">
                        <p class="title-item">Quantidade</p>
                        <p class="value-item estoque-item">{{item.QUANTIDADE}}</p>
                    </div>
                    <div class="div-item">
                        <p class="title-item">Sub-Total</p>
                        <p class="value-item estoque-item">{{item.SUB_TOTAL}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-buttons">
        <a class="btn-adicionar" href="/">Adicionar Produto</a>
        <a class="btn-finalizar" href="finalizar_carrinho">Finalizar</a>
    </div>
    {% else %}
        <div class="container container-aviso">
            <p class="texto-aviso-user">Usuario não possui permissões para visualizar a pagina!</p>
            <a class="btn-back" href="/">Voltar</a>
        </div>
        
    {% endif %}
</body>
</html>