<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/prods-css.css">
</head>
<body>
    {% if user.is_staff %}
    <div>
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4" style="color:#ffffff">Trend HR</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="pedidos" class="nav-link">Pedidos</a></li>
          <li class="nav-item"><a href="/produtos" class="nav-link active">Produtos</a></li>
          {% if user.is_authenticated %}
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
          {% else %}
          <li class="nav-item"><a href="accounts/login/" class="nav-link">Login</a></li>
          {% endif %}  
        </ul>
      </header>
    </div>


    <div class="row">
            
        {% for produto in produtos %}
        <div>
            <div class="produtos">
                <div class="produto">
                    
                    <div class="div-teste">
                        <p class="title-item">Produto</p>
                        <p class="value-item produto-item">{{produto.NOME_PRODUTO}}</p>
                    </div>
                    
                    <div class="div-teste">
                        <p class="title-item">Valor</p>
                        <p class="value-item valor-item">{{produto.VALOR}}</p>
                    </div>
                    
                    <div class="div-teste">
                        <p class="title-item">Estoque</p>
                        <p class="value-item estoque-item">{{produto.QUANTIDADE_ESTOQUE}}</p>
                    </div>
                    
                    <div class="div-teste">
                        <p class="title-item">Descrição</p>
                        <p class="value-item descricao-item">{{produto.DESCRICAO}}</p>
                    </div>
                    <div class="div-teste">
                        <a href="editarproduto/{{ produto.id }}" class="button-pen"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg></a>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-buttons">
        <a class="btn-adicionar" href="adicionar/">Adicionar Produto</a>
        <a class="btn-finalizar" href="/">Finalizar</a>
    </div>
    {% else %}
        <div class="container container-aviso">
            <p class="texto-aviso-user">Usuario não possui permissões para visualizar a pagina!</p>
            <a class="btn-back" href="/">Voltar</a>
        </div>
        
    {% endif %}
</body>
</html>